version: "3.9"

services:
  obsidian:
    image: linuxserver/obsidian
    container_name: obsidian
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA}/obsidian/config:/config
      - ${DOCKER_DATA}/obsidian/vaults:/vaults
    ports:
      - 3000:3000
    restart: unless-stopped
