version: "3.9"

services:
  it-tools:
    image: corentinth/it-tools:latest
    container_name: it-tools
    restart: unless-stopped
    ports:
      - "8088:80"

  glance:
    image: glanceapp/glance:latest
    container_name: glance
    restart: unless-stopped
    ports:
      - "8089:8080"
    volumes:
      - ./glance:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
